* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

:root {
  --nav-color: #000;
  --text-color-white: #fff;
  --border-color-1: #fff;
}