* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-body);
  color: var(--text-color-white);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}
 
.claro {
  background-color: #ccc;
  color: var(--text-color-gray);
}

:root {
  --nav-color-black: #292929;
  --nav-color-white: #fff;
  --bg-color-body: #111;
  --text-color-white: #ddd;
  --text-color-black: #000;
  --text-color-gray: #2e2e2e;
  --border-color-1: #fff;
  --border-color-2: #000;
  --section-bg-color-1: #1b1b1b;
  --section-bg-color-white: #999;
  --bg-footer-color: #151518;
}
