* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}
 
.claro {
  background-color: var(--bg-color-body);
  color: var(--text-color-black);
}

:root {
  --nav-color-black: #000;
  --nav-color-white: #fff;
  --bg-color-body: #ccc;
  --body-color: #212121;
  --text-color-white: #fff;
  --text-color-black: #000;
  --border-color-1: #fff;
  --border-color-2: #000;
}